<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodDonorWebApp</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="loginbox">
        <img class="logo" src="static/css/images/pwd.png">
        <h1>Reset Password</h1><br><br><br>
        <form>
            <label>Password</label>
            <input type="password" placeholder="Enter password">
            <label>Confirm Password</label>
            <input type="password" placeholder="Re-Enter password"><br><br><br>
            <a href="login.html"><input type="button" value="Submit"></a>

        </form>
    </div>
</body>

</html>
